# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Sumatra
*.smt

# Python modules
*.pyc
*ipynb_checkpoints


*.pro.user

*_ids.yaml

# qdoc
doc/html/*
